node_modules/
jetbrains-plugin/build/
jetbrains-plugin/.gradle/
jetbrains-plugin/local.properties
jetbrains-plugin/.intellijPlatform/
jetbrains-plugin/.kotlin/
.DS_Store
*.iml
.idea/
"Jetbrains Logo.png"
